@(ware: models.Ware, purchaseId: Long, clientId: Long)(implicit lang: Lang)

@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import com.github.aselab.activerecord.dsl._

@main("Ware info") {
<ul class="breadcrumb">
    <li><a href="/">@Messages("common.home")</a></li>
    <li><a href="@routes.Clients.show(purchaseId, clientId)">@Messages("activerecord.models.Client.title")</a></li>
    <li><a href="@routes.Clients.index(purchaseId)">@ware.client.name</a></li>
    <li class="active">@ware.name</li>
</ul>

<div class="col-lg-8">
    <dl class="dl-horizontal">
        <dt>@Messages("activerecord.models.Ware.name")</dt>
        <dd>@ware.name</dd>

        <dt>@Messages("activerecord.models.Ware.price")</dt>
        <dd>@ware.price.setScale(2).rounded</dd>
    </dl>

    <div class="well">
        <!--<a href="@routes.Wares.index(purchaseId, clientId)" class="btn btn-default">@Messages("common.back")</a>-->
        <a href="@routes.Wares.edit(purchaseId, clientId, ware.id)" class="btn btn-default">@Messages("common.edit")</a>
        <a href="#" data-redirect="@routes.Wares.index(purchaseId, clientId)" data-target="@routes.Wares.delete(purchaseId, clientId, ware.id)" class="btn btn-danger">@Messages("common.delete")</a>
    </div>
</div>
}