@(client: Form[models.Client], purchaseId: Long, action: Call, buttonLabel: String, title: String)(implicit lang: Lang, messages: Messages)

@import models.Client.helper._

@main(title) {
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="@routes.Purchases.show(purchaseId)">Закупки</a></li>
    <li><a href="@routes.Clients.index(purchaseId)">Клиенты</a></li>
    <li class="active">
        @(if (action == routes.Clients.create(purchaseId)) "Новый клиент" else client.value.map(_.name).getOrElse(client.data("name")))
    </li>
</ul>

<div class="page-header">
    <h1>Клиент</h1>
</div>
<div class="col-lg-8">
    @helper.form(action, 'class -> "form-horizontal") {
    <fieldset>
        @inputText(client("name"))
        @inputText(client("price"))
    </fieldset>
    <div class="well">
        <button class="btn btn-primary" type="submit">@buttonLabel</button>
        <a href="@routes.Clients.index(purchaseId)" class="btn btn-default">Cancel</a>
    </div>
    }
</div>
}