@(client: models.Client, purchaseId: Long)(implicit lang: Lang)

@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import com.github.aselab.activerecord.dsl._
@import views.html.ware.table

@main("Client info") {
<ul class="breadcrumb">
    <li><a href="/">@Messages("common.home")</a></li>
    <li><a href="@routes.Purchases.index">@Messages("activerecord.models.Purchase.title")</a></li>
    <li><a href="@routes.Purchases.show(purchaseId)">@client.purchase.name</a></li>
    <li class="active">@client.name</li>
</ul>

<div class="col-lg-8">
    <div class="well">
        <dl class="dl-horizontal">
            <dt>@Messages("activerecord.models.Client.name")</dt>
            <dd>@client.name</dd>

            <dt>@Messages("activerecord.models.Client.sum")</dt>
            <dd>@client.getSum.setScale(2).rounded</dd>

            <dt>@Messages("activerecord.models.Client.deliveryPrice")</dt>
            <dd>@client.deliveryPrice.setScale(2).rounded</dd>
        </dl>

        <a href="@routes.Purchases.show(purchaseId)" class="btn btn-default">@Messages("common.back")</a>
        <a href="@routes.Clients.edit(client.id, purchaseId)" class="btn btn-default">@Messages("common.edit")</a>
        <a href="#" data-redirect="@routes.Clients.index(purchaseId)" data-target="@routes.Clients.delete(client.id, purchaseId)" class="btn btn-danger">@Messages("common.delete")</a>
    </div>
</div>

@table(client.wares.toList, purchaseId, client.id)
}