@(purchase: Form[models.Purchase], action: Call, buttonLabel: String, title: String)(implicit lang: Lang, messages: Messages)

@import models.Purchase.helper._

@main(title) {
<ul class="breadcrumb">
    <li><a href="/">@Messages("common.home")</a></li>
    <li><a href="@routes.Purchases.index">@Messages("activerecord.models.Purchase.title")</a></li>
    <li class="active">
        @(if (action == routes.Purchases.create) "New purchase" else purchase.value.map(_.name).getOrElse(purchase.data("name")))
    </li>
</ul>

<div class="page-header">
    <h1>Purchase</h1>
</div>
<div class="col-lg-8">
    @helper.form(action, 'class -> "form-horizontal") {
    <fieldset>
        @inputText(purchase("name"))
    </fieldset>
    <div class="well">
        <button class="btn btn-primary" type="submit">@buttonLabel</button>
        <a href="@routes.Purchases.index" class="btn btn-default">@Messages("common.cancel")</a>
    </div>
    }
</div>
}