@(purchases: List[models.Purchase])(implicit lang: Lang, messages: Messages)

@main("Purchase list") {
<ul class="breadcrumb">
    <!--<li><a href="/">@Messages("common.home")</a></li>-->
    <li class="active">@Messages("activerecord.models.Purchase.title")</li>
    <li><a href="/initTestTables">Создать тестовые данные</a></li>
</ul>

<table class="table table-striped">
    <thead>
    <tr>
        <th>@Messages("activerecord.models.Purchase.name")</th>
        <th>@Messages("common.actions")</th>
    </tr>
    </thead>
    <tbody>
    @purchases.map { m =>
    <tr>
        <td><a href="@routes.Purchases.show(m.id)">@m.name</a></td>
        <td>
            <a href="@routes.Purchases.edit(m.id)" class="btn btn-default btn-sm">@Messages("common.edit")</a>
            <a href="#" data-redirect="@routes.Purchases.index" data-target="@routes.Purchases.delete(m.id)" class="btn btn-sm btn-danger">@Messages("common.delete")</a>
        </td>
    </tr>
    }
    @if(purchases.isEmpty) {
    <tr>
        <td colspan="2">
            <div class="alert alert-info">
                <strong>@Messages("activerecord.models.Purchase.empty_list")</strong>
            </div>
        </td>
    </tr>
    }
    </tbody>
</table>

<div class="form-actions">
    <a href="@routes.Purchases.newPage" class="btn btn-primary">@Messages("activerecord.models.Purchase.create")</a>
</div>
}