@(purchase: models.Purchase)(implicit lang: Lang, messages: Messages)

@import com.github.aselab.activerecord.dsl._
@import views.html.client.table

@main("Purchase info") {
<ul class="breadcrumb">
    <li><a href="/">@Messages("common.home")</a></li>
    <li><a href="@routes.Purchases.index">@Messages("activerecord.models.Purchase.title")</a></li>
    <li class="active">@purchase.name</li>
</ul>

<div class="col-lg-8">
    <div class="well">
        <dl class="dl-horizontal">
            <dt>@Messages("activerecord.models.Purchase.name")</dt>
            <dd>@purchase.name</dd>

            <dt>@Messages("activerecord.models.Purchase.sum")</dt>
            <dd>@purchase.getSum.setScale(2).rounded</dd>

            <dt>@Messages("activerecord.models.Purchase.deliveryPrice")</dt>
            <dd>@purchase.deliveryPrice.setScale(2).rounded</dd>
        </dl>

        <a href="@routes.Purchases.index" class="btn btn-default">@Messages("common.back")</a>
        <a href="@routes.Purchases.edit(purchase.id)" class="btn btn-default">@Messages("common.edit")</a>
        <a href="#" data-redirect="@routes.Purchases.index" data-target="@routes.Purchases.delete(purchase.id)" class="btn btn-danger">@Messages("common.delete")</a>
    </div>
</div>

@table(purchase.clients.toList, purchase.id)
}
