@(title: String, purchases: Seq[Purchase])

@main(title) {
    <a href="/">Index</a></br>
    <table border="1" cellpadding="2" cellspacing="0">
        <tr>
            <td colspan="2">
                @purchase_form_add(true)
            </td>
        </tr>
    @for(purchase <- purchases) {
        <tr>
            <td valign="top" align="left">
                <a href="/purchase/@purchase.id">@purchase.name</a>
            </td>
            <td valign="top" align="right">
                @purchase.getSum.setScale(2).rounded
            </td>
        </tr>
    }
    </table>
}